<div class="Container">
  <div class="Row">
    <div class="Col-12 Col-lg-12">
      <div class="Card Card-body">
        <h3 class="Card-title">Visualization: GeoChart</h3>
        <a href="https://developers.google.com/chart/interactive/docs/gallery/geochart" target="_blank">Google Charts</a>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">GeoCharts | Region</h4>
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="region.type" [options]="region.options"
                     [columns]="region.columns" [data]="region.data"></GoogleChart>
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="region.type" [options]="region.options"
                     [columns]="region.columns" [data]="region.data"></GoogleChart>
      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  region = {
    type: ChartType.GeoChart,
    options: {},
    columns: ['Country', 'Popularity'],
    data: [
      ['Germany', 200],
      ['United States', 300],
      ['Brazil', 400],
      ['Canada', 500],
      ['France', 600],
      ['RU', 700]
    ],
  };
        </textarea>
        </div>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">GeoCharts | Marker</h4>
        Note: Because markers require geocoding, you'll need a mapsApiKey.

        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="marker.type" [options]="marker.options"
                     [columns]="marker.columns" [data]="marker.data"></GoogleChart>

        <div class="MB-2">
          <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="marker.type" [options]="marker.options"
                     [columns]="marker.columns" [data]="marker.data"></GoogleChart>
          </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  marker = {
    type: ChartType.GeoChart,
    options: {
      region: 'IT',
      displayMode: 'markers',
      colorAxis: {colors: ['green', 'blue']}
    },
    columns: ['City', 'Population', 'Area'],
    data: [
      ['Rome', 2761477, 1285.31],
      ['Milan', 1324110, 181.76],
      ['Naples', 959574, 117.27],
      ['Turin', 907563, 130.17],
      ['Palermo', 655875, 158.9],
      ['Genoa', 607906, 243.60],
      ['Bologna', 380181, 140.7],
      ['Florence', 371282, 102.41],
      ['Fiumicino', 67370, 213.44],
      ['Anzio', 52192, 43.43],
      ['Ciampino', 38262, 11]
    ],
  };
        </textarea>
        </div>
      </div>

    </div>

  </div>
</div>
