<div class="Container">
  <div class="Row">
    <div class="Col-12 Col-lg-12">

      <div class="Card Card-body">
        <h3 class="Card-title">Diff Charts</h3>
        <a href="https://developers.google.com/chart/interactive/docs/gallery/diffchart" target="_blank">Google Charts</a>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">A Simple Example</h4>
<!--        <GoogleChart style="width: 100%;"-->
<!--                     [type]="simple.type" [options]="simple.options"-->
<!--                     [columns]="simple.columns" [data]="simple.data"></GoogleChart>-->
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">

      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">

        </textarea>
        </div>
      </div>

    </div>
  </div>
</div>
