<div class="Container">
  <div class="Row">
    <div class="Col-12 Col-lg-12">

      <div class="Card Card-body">
        <h3 class="Card-title">Visualization: Pie Chart</h3>
        <a href="https://developers.google.com/chart/interactive/docs/gallery/piechart" target="_blank">Google Charts</a>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">Example</h4>
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="simple.type" [options]="simple.options"
                     [columns]="simple.columns" [data]="simple.data"></GoogleChart>
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="simple.type" [options]="simple.options"
                     [columns]="simple.columns" [data]="simple.data"></GoogleChart>
      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  simple = {
    type: ChartType.PieChart,
    options: {
      title: 'My Daily Activities'
    },
    columns: ['Task', 'Hours per Day'],
    data: [
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ],
  };
        </textarea>
        </div>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">Making a 3D Pie Chart</h4>
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="pie_3D.type" [options]="pie_3D.options"
                     [columns]="pie_3D.columns" [data]="pie_3D.data"></GoogleChart>
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="pie_3D.type" [options]="pie_3D.options"
                     [columns]="pie_3D.columns" [data]="pie_3D.data"></GoogleChart>
      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  pie_3D = {
    type: ChartType.PieChart,
    options: {
      title: 'My Daily Activities',
      is3D: true,
    },
    columns: ['Task', 'Hours per Day'],
    data: [
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ],
  };
        </textarea>
        </div>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">Making a Donut Chart</h4>
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="donut.type" [options]="donut.options"
                     [columns]="donut.columns" [data]="donut.data"></GoogleChart>
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="donut.type" [options]="donut.options"
                     [columns]="donut.columns" [data]="donut.data"></GoogleChart>
      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  donut = {
    type: ChartType.PieChart,
    options: {
      title: 'My Daily Activities',
      pieHole: 0.4,
    },
    columns: ['Task', 'Hours per Day'],
    data: [
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ],
  };
        </textarea>
        </div>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">Exploding a Slice</h4>
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="slice.type" [options]="slice.options"
                     [columns]="slice.columns" [data]="slice.data"></GoogleChart>
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 500px;"
                     [type]="slice.type" [options]="slice.options"
                     [columns]="slice.columns" [data]="slice.data"></GoogleChart>
      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  slice = {
    type: ChartType.PieChart,
    options: {
      title: 'Indian Language Use',
      legend: 'none',
      pieSliceText: 'label',
      slices: {
        4: {offset: 0.2},
        12: {offset: 0.3},
        14: {offset: 0.4},
        15: {offset: 0.5},
      },
    },
    columns: ['Language', 'Speakers (in millions)'],
    data: [
      ['Assamese', 13], ['Bengali', 83], ['Bodo', 1.4],
      ['Dogri', 2.3], ['Gujarati', 46], ['Hindi', 300],
      ['Kannada', 38], ['Kashmiri', 5.5], ['Konkani', 5],
      ['Maithili', 20], ['Malayalam', 33], ['Manipuri', 1.5],
      ['Marathi', 72], ['Nepali', 2.9], ['Oriya', 33],
      ['Punjabi', 29], ['Sanskrit', 0.01], ['Santhali', 6.5],
      ['Sindhi', 2.5], ['Tamil', 61], ['Telugu', 74], ['Urdu', 52]
    ],
  };
        </textarea>
        </div>
      </div>

    </div>
  </div>
</div>
