<div class="Container">
  <div class="Row">
    <div class="Col-12 Col-lg-12">

      <div class="Card Card-body">
        <h3 class="Card-title">Timelines</h3>
        <a href="https://developers.google.com/chart/interactive/docs/gallery/timeline" target="_blank">Google Charts</a>
      </div>

      <div class="Card Card-body">
        <h4 class="Card-title">A simple example</h4>
        <GoogleChart style="width: 100%; height: 200px;"
                     [type]="simple.type" [options]="simple.options"
                     [columns]="simple.columns" [data]="simple.data"></GoogleChart>
        <div class="MB-2">
      <textarea Highlighter [Lang]="'html'">
        <GoogleChart style="width: 100%; height: 200px;"
                     [type]="simple.type" [options]="simple.options"
                     [columns]="simple.columns" [data]="simple.data"></GoogleChart>
      </textarea>
        </div>
        <div class="MB-2">
        <textarea Highlighter [Lang]="'typescript'">
  simple = {
    type: ChartType.Timeline,
    options: {
    },
    columns: [
      { type: 'string', id: 'President' },
      { type: 'date', id: 'Start' },
      { type: 'date', id: 'End' }
    ],
    data: [
      [ 'Washington', new Date(1789, 3, 30), new Date(1797, 2, 4) ],
      [ 'Adams',      new Date(1797, 2, 4),  new Date(1801, 2, 4) ],
      [ 'Jefferson',  new Date(1801, 2, 4),  new Date(1809, 2, 4) ]
    ] as any[][],
  };
        </textarea>
        </div>
      </div>

    </div>
  </div>
</div>
